<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 BAFL. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="bafl_card_config_provider" xsi:type="object">Bafl\Payment\Model\Ui\CardConfig</item>
                <item name="bafl_wallet_config_provider" xsi:type="object">Bafl\Payment\Model\Ui\WalletConfig</item>
                <item name="bafl_account_config_provider" xsi:type="object">Bafl\Payment\Model\Ui\AccountConfig</item>
            </argument>
        </arguments>
    </type>

</config>
